<!DOCTYPE html>
<html ng-app="TorrentToStream">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>
  <body ng-controller="main as m">
  <!-- only one controller for whole application -->
  <!-- main search -->
  <!-- Right aligned menu below button -->
  <button ng-init="openLogin = false" ng-click="openLogin = !openLogin" id="floating-credentials-menu--right-side"
          class="mdl-button mdl-js-button mdl-button--icon">
    <i ng-if="!credentials.logged" class="material-icons">person_add</i>
    <i ng-if="credentials.logged" class="material-icons">person</i>
  </button>
  <div ng-show="openLogin" class="floating-credentials-menu--right-side mdl-card mdl-shadow--2dp">
    <form ng-submit="m.signIn()">
        <div class="mdl-card__title mdl-card--expand">
          <div class="mdl-textfield mdl-js-textfield">
            <input ng-model="credentials.login" class="mdl-textfield__input" type="text" id="login--input">
            <label class="mdl-textfield__label" for="login--input">login</label>
          </div>
        </div>
        <div class="mdl-card__title mdl-card--expand">
          <div class="mdl-textfield mdl-js-textfield">
            <input type="password" ng-model="credentials.pass" class="mdl-textfield__input" type="text" id="password--input">
            <label class="mdl-textfield__label" for="password--input">pass</label>
          </div>
        </div>
        <div class="mdl-card__actions">
          <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
            login
          </button>
        </div>
    </form>
  </div>
  
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet"></div>
    <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">

      <form ng-submit="m.search()">
        <div class="main-search-input mdl-textfield mdl-js-textfield">
          <input ng-focus="true" ng-model="query" class="mdl-textfield__input" type="text" id="mainSearch" autofocus>
          <label class="mdl-textfield__label" for="mainSearch">search for torrents</label>
        </div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
          <i class="material-icons">search</i>
        </button>
      </form>

    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet"></div>
  </div>
  <!--/ main search -->

  <!-- main search results -->
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet"></div>
    <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">

      <!-- card -->
      <div ng-repeat="torrent in data" class="search-results-card mdl-card mdl-shadow--2dp">
        <div ng-if="torrent.loading" class="loader"></div>
        <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
          <!--<h4 class="search-results-card&#45;&#45;title mdl-card__title-text">-->
            <!--{{ torrent.title }}-->
          <!--</h4>-->
        <!--</div>-->
        <div class="search-results-card--content mdl-card__supporting-text">

          <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                <i class="search-results-card--content-type-icon material-icons mdl-list__item-avatar">
                  {{ ::torrent.type }}<!-- folder_open -->
                </i>
                <span>
                  torrent
                </span>
                <span class="search-results-card--item-title mdl-list__item-text-body">
                  {{ ::torrent.title }}
                </span>
              </span>
              <span class="mdl-list__item-secondary-content">
                <a class="mdl-list__item-secondary-action"><i class="material-icons">star</i></a>
              </span>
            </li>
            <li ng-show="torrent.expanded" class="mdl-list__item mdl-list__item--three-line">
              <span class="mdl-list__item-primary-content">
                <i class="search-results-card--content-type-icon material-icons mdl-list__item-avatar">
                  swap_vert<!-- folder_open -->
                </i>
                <span>
                  info
                </span>
                <span class="search-results-card--item-middel-content mdl-list__item-text-body">
                  <span class="mdl-badge" data-badge="{{ torrent.leechs }}">leechs</span>
                  <span class="mdl-badge" data-badge="{{ torrent.seeds }}">seeds</span>
                  <span>size: <b>{{ ::torrent.size }}</b></span>
                </span>
              </span>
              
            </li>
          </ul>
          <table ng-show="torrent.expanded && torrent.files.length" class="file-data-table mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--3dp">
                    <thead>
                      <tr>
                        <th class="mdl-data-table__cell--non-numeric">File</th>
                        <th>name</th>
                        <th>size</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--<div ng-if="file.loading" class="loader"></div>-->
                      <tr ng-class="{'table-row--streaming': file.streaming}" style="cursor: pointer;" ng-init="file.parent = torrent.files" ng-click="m.streamFile(file)" ng-repeat="file in torrent.files">        
                        <td class="mdl-data-table__cell--non-numeric">{{ $index + 1 }}</td>
                        <td>{{ ::file.name }}</td>
                        <td>{{ ::file.size }}</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <button ng-click="m.getFilesFromTorrent(torrent)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">live_tv</i>
          </button>
          <button ng-click="m.download(torrent.id)" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i class="material-icons">file_download</i>
          </button>
          <button ng-click="torrent.expanded = !torrent.expanded" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
            <i ng-hide="torrent.expanded" class="material-icons">expand_more</i>
            <i ng-show="torrent.expanded" class="material-icons">expand_less</i>
          </button>
        </div>
      </div>
      <!--/ card -->

    </div>
    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet"></div>
  </div>
  <!--/ main search results -->

    <script src="/lib/angular/angular.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>