body {
    background-color: #e3e3e3;
}

.main-search-input {
    width: 90% !important;
}

.search-results-card {
    margin-top: 10px;
    width: 100% !important;
    min-height: 30px !important;
}
.search-results-card--title {
    font-size: 16px;
}

.search-results-card--content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.search-results-card--content ul {
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.search-results-card--content li {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.search-results-card--content-type-icon {
    color: #3f51b5 !important;
    background-color: inherit !important;
}

.search-results-card--item-title {
    overflow: hidden;
    padding-bottom: 10px;
}

.file-data-table {
    width: 100% !important;
    margin-left: 16px !important;
    margin-bottom: 16px !important;
}

.search-results-card--item-middel-content {
    padding-top: 10px;
}

.table-row--streaming {
    background-color: #f44336;
}

.table-row--streaming:hover {
    background-color: #fb1605 !important;
    color: white !important;
}

.loader {
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(128, 128, 128, 0.63);
    position: absolute;
    z-index: 9999;
}

#floating-credentials-menu--right-side {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
    z-index: 9999;
}

.floating-credentials-menu--right-side {
    position: fixed;
    top: 0;
    left: 0;
    margin: 15px !important;
    z-index: 9999;
}